<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Define el patrón del log -->
    <property name="LOG_PATH" value="D:/Project/logReports" />
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n" />

    <!-- Configuración para dividir logs por hora -->
    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/app.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Crea un nuevo archivo cada hora -->
            <fileNamePattern>${LOG_PATH}/appReports-%d{yyyy-MM-dd-HH}.log</fileNamePattern>
            <maxHistory>24</maxHistory> <!-- Guarda logs de las últimas 24 horas -->
        </rollingPolicy>

        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Configuración para logs en consola -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Niveles de logging -->
    <root level="info">
        <appender-ref ref="ROLLING" />
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
